// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


html, body {
    height: 100%;
  }

  #wrap {
    min-height: 100%;
  }

  #main {
    overflow:auto;
    padding-bottom:120px; /* this needs to be bigger than footer height*/
  }

  .footer {
    position: relative;
    margin-top: -120px; /* negative value of footer height */
    height: 120px;
    clear:both;
    padding-top:20px;
  }


  /* Landscape phones and down */
@media (max-width: 480px) {
  .book_title{
        margin-top: 47px;
    }

    .h3_title{
        font-size: 20px;
    }

    .sm_margin_top{
        margin-top: 15px;
    }
 }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

 }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .resize_image_md{

        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;

    }
 }

/* Large desktop */
@media (min-width: 1200px) {

 }

